@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

.container {
    max-width: 80vw;
    margin: 23px auto;

}

nav {
    background-color: rgb(67, 65, 65);
    padding: 12px 3px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 12px;
    font-weight: 800;
    font-size: 23px;
}

ul {
    display: flex;
    margin: 0 23px;
    align-items: center;
}

ul li {
    list-style: none;
    margin: 0 15px;
}

 ul li:hover {
    list-style: none;
    margin: 0 15px;
    color: rgb(255, 253, 253);
    font-size: 18px;
    font-weight:900;
}

table, td ,tr,th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 14px;
}

h1,
h2,
h3 {
    margin: 23px 0;
}

.btn {
    padding: 8px 17px;
    background-color: rgb(67, 65, 65);
    color: rgb(255, 255, 255);
    font-weight: 900;
    border: 2px solid rgb(18, 14, 14);
    border-radius: 8px;
    margin: 25px 0;
    cursor: pointer;
}
.btnsm{
     padding: 8px 17px;
    background-color: rgb(67, 65, 65);
    color: rgb(255, 255, 255);
    font-weight: 900;
    border: 2px solid rgb(18, 14, 14);
    border-radius: 8px;
    cursor: pointer;
}